@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$primary-color: #F8F8F8;
$secondary-color: #DBDBDB;
$button-primary-color: #7AB800;
$button-secondary-color: #CC292B;

body {
  font-family: 'Nunito', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 144px;
  height: 174px;
  background-color: $primary-color;
  border-radius: 8px;
  border: 0.8px solid $secondary-color;
  padding: 8px;
  gap: 8px;

  @media (min-width: 768px) {
    gap: 16px;
    padding: 16px;
    width: 230px;
    height: 230px;
  }
}

.card__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  min-height: 77px;
  background-color: $secondary-color;

  @media (min-width: 768px) {
    width: 232px;
    min-height: 110px;
  }
}

.card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 8px;
  max-height: 160px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}

.card__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  margin: 0px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.card__description {
  font-size: 12px;
  line-height: 17px;
  margin: 0px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.card__button {
  padding-inline: 8px;
  padding-block: 4px;
  gap: 4px;
  border-radius: 4px;
  background-color: $button-primary-color;
  border: 1px solid $button-primary-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 28px;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 143px;
    height: 38px;
    font-size: 16px;
    line-height: 22px;
  }
}

.card__button.clicked {
  background-color: $button-secondary-color;
  border: 1px solid $button-secondary-color;
}
